/**
 * Basic Layout
 */


.dkplContainer{
    font-family: 'Helevtica Neue',Helvetica,Arial,sans-serif;
}
.dkplRight .dkplVerticalBar{
    left: 0;
}
.dkplLeft .dkplVerticalBar{
    right: 0;
}

.dkplVerticalBar{
    position: absolute;
    top: 0;
    bottom: 0;
    cursor: e-resize;
}
.dkplHorizontalBar{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: s-resize;
}

li.dkplPanel.horizontalDrag, .dkplPanel.verticalDrag{
    z-index: 1;
}

li.dkplPanel.horizontalDrag{ cursor: s-resize;}
li.dkplPanel.verticalDrag{ cursor: e-resize;}

li.dkplPanel{
    position: absolute;
    box-sizing: border-box;
    top: 0;
    list-style: none;
    transition: top 0.2s, left 0.2s, right 0.2s;
}
.dkplDragging li.dkplPanel{
    transition: none;
}

.dkplLeft li.dkplPanel{
    left: 0;
}

.dkplEditor{
    box-sizing: border-box;
    overflow: auto;
}

.dkplMinimized .dkplEditor, .dkplMinimized .dkplHorizontalBar, .mimimized .dkplVerticalBar{
    display: none;
}

li.dkplPanel.dkplPlacing{
    opacity: 0.5;
    z-index: 100;
}

.dkplHighlight{
    position: absolute;
}


/**
 * Size and paddings and colors
 */

.dkplLeft .dkplPanel{
    padding: 4px 10px 10px 0;
}
.dkplRight .dkplPanel{
    padding: 4px 0 10px 10px;
}
.dkplPanel.dkplMinimized{
    padding-bottom: 0px !important;
}


.dkplVerticalBar, .dkplHorizontalBar{
  border-radius: 3px;
}
.dkplVerticalBar{ margin: 8px 0 14px 0; width: 8px;}
.dkplLeft .dkplHorizontalBar{ margin: 0 14px 0 4px; height: 8px;}
.dkplRight .dkplHorizontalBar{ margin: 0 4px 0 14px; height: 8px;}

.dkplVerticalBar:hover, .dkplHorizontalBar:hover{
  background-color: #bbbbbb;
}
.verticalDrag .dkplVerticalBar, .horizontalDrag .dkplHorizontalBar{
  background-color: #d14;
}

.dkplHighlight{
    background-color: #d14;
    width: 4px;
    height: 4px;
}
.dkplHighlight.dkplVertical{
    margin-top: 0;
    margin-left: -2px;
}


.dkplHeader{
    font-size: 10pt;
    padding: 2px 6px;
    color: white;
    background-color: #bbbbbb;
}

.dkplLeft .dkplHeader{ border-radius: 0 12px 0 0;}
.dkplRight .dkplHeader{ border-radius: 12px 0 0 0;}
.dkplMinimized .dkplHeader{ border-radius: 12px}


.dkplEditor{
    background: rgba(255,255,255,0.5);
    padding: 6px;
}